NODE_ENV=development
PORT=3000

APP_NAME=nestjs-enterprise-starter
API_PREFIX=api/v1
AUTH_BASE_PATH=/api/auth

DATABASE_URL="YOUR_NEON_CONNECTION_STRING"

CORS_ORIGIN="http://localhost:3000,http://localhost:5173"

THROTTLE_TTL=60000
THROTTLE_LIMIT=100

BETTER_AUTH_SECRET="YOUR_GENERATED_SECRET"
BETTER_AUTH_URL="http://localhost:3000"