NODE_ENV=development
PORT=3000
APP_NAME=nestjs-enterprise-starter
API_PREFIX=api/v1

DATABASE_URL="YOUR_NEON_POSTGRESQL_URL"

CORS_ORIGIN="http://localhost:5173,http://localhost:3001"

THROTTLE_TTL=60000
THROTTLE_LIMIT=100

BETTER_AUTH_SECRET="YOUR_GENERATED_SECRET"
BETTER_AUTH_URL="http://localhost:3000"
AUTH_BASE_PATH="/api/auth"
BETTER_AUTH_TRUSTED_ORIGINS="http://localhost:5173,http://localhost:3001"